* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

html .container,
body .container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  overflow: hidden;
  background: #b8b8b8fd;
  -webkit-transition: 1s;
  transition: 1s;
}

html .container header,
body .container header {
  width: 100%;
  height: 150px;
  background: linear-gradient(20deg, #000 25%, #252525);
  -webkit-box-shadow: 0px 0px 0px 0px #cfcfcf;
          box-shadow: 0px 0px 0px 0px #cfcfcf;
}

html .container header #whiteCat,
body .container header #whiteCat {
  width: 150px;
  -webkit-transform: rotate(90deg) translateX(-10px);
          transform: rotate(90deg) translateX(-10px);
  display: block;
  float: left;
}

html .container header .my-cv,
body .container header .my-cv {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  text-align: end;
  width: 150px;
  height: 60px;
  margin: auto 50px auto auto;
}

html .container header .my-cv .cv-link,
body .container header .my-cv .cv-link {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background: #8f8e8e;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  display: inline-block;
  font-family: fantasy;
  font-size: 30px;
  letter-spacing: 5px;
  color: #fff;
  cursor: pointer;
}

html .container header .my-cv .cv-link span,
body .container header .my-cv .cv-link span {
  position: absolute;
  top: 15%;
  left: 20%;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
}

html .container header .my-cv .cv-link-mobile,
body .container header .my-cv .cv-link-mobile {
  display: none;
}

html .container .toggle-button-day-mode,
body .container .toggle-button-day-mode {
  width: 60px;
  height: 30px;
  background: url(img/toggleButtonOn.png) no-repeat 50%;
  background-size: cover;
  position: fixed;
  right: 50px;
  top: 15%;
  cursor: pointer;
}

html .container .modalWindowCV,
body .container .modalWindowCV {
  z-index: 99;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000bb;
}

html .container .modalWindowCV .cv-layer,
body .container .modalWindowCV .cv-layer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .7fr 1.3fr;
      grid-template-columns: .7fr 1.3fr;
  width: 80%;
  height: 80%;
  margin: 50px auto;
  background: #e2e2e2;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
}

html .container .modalWindowCV .cv-layer h1,
html .container .modalWindowCV .cv-layer h2,
html .container .modalWindowCV .cv-layer h3,
body .container .modalWindowCV .cv-layer h1,
body .container .modalWindowCV .cv-layer h2,
body .container .modalWindowCV .cv-layer h3 {
  line-height: 50px;
}

html .container .modalWindowCV .cv-layer p,
html .container .modalWindowCV .cv-layer a,
body .container .modalWindowCV .cv-layer p,
body .container .modalWindowCV .cv-layer a {
  line-height: 25px;
}

html .container .modalWindowCV .cv-layer span,
body .container .modalWindowCV .cv-layer span {
  font-weight: bold;
}

html .container .modalWindowCV .cv-layer .first-column,
body .container .modalWindowCV .cv-layer .first-column {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  border-radius: 10px 0 0 10px;
  background: #747474;
}

html .container .modalWindowCV .cv-layer .first-column .text,
body .container .modalWindowCV .cv-layer .first-column .text {
  width: 90%;
  margin: 20px 0 0 30px;
}

html .container .modalWindowCV .cv-layer .first-column .text a,
html .container .modalWindowCV .cv-layer .first-column .text h3,
body .container .modalWindowCV .cv-layer .first-column .text a,
body .container .modalWindowCV .cv-layer .first-column .text h3 {
  color: #e2e2e2;
}

html .container .modalWindowCV .cv-layer .second-column,
body .container .modalWindowCV .cv-layer .second-column {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

html .container .modalWindowCV .cv-layer .second-column .text,
body .container .modalWindowCV .cv-layer .second-column .text {
  width: 90%;
  margin: 20px 0 0 30px;
}

html .container main,
body .container main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0 auto 158px;
  width: 80%;
  height: 600px;
  text-align: center;
  margin-top: 50px;
  font-family: cursive;
}

html .container main .projects,
body .container main .projects {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

html .container main .projects .walkingCat,
body .container main .projects .walkingCat {
  position: absolute;
  height: 500px;
  width: 450px;
  z-index: 20;
  top: 150px;
  left: -120%;
  background: url(img/cat3.png) no-repeat 50%;
  background-size: cover;
}

html .container main .projects .flyingCat,
body .container main .projects .flyingCat {
  position: absolute;
  height: 200px;
  width: 420px;
  z-index: 30;
  top: 170px;
  right: -120%;
  background: url(img/cat4.png) no-repeat;
  background-size: cover;
}

html .container main .projects .morpheus,
body .container main .projects .morpheus {
  -webkit-transform: rotate(0.35deg);
          transform: rotate(0.35deg);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  width: 63%;
}

html .container main .projects .card,
body .container main .projects .card {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  float: right;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 1px 150px #000, 0 0 0 0 #000;
          box-shadow: inset 0px 0px 1px 150px #000, 0 0 0 0 #000;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

html .container main .projects .card:hover,
body .container main .projects .card:hover {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 #000, 1px 1px 10px 3px #0000009a;
          box-shadow: inset 0 0 0 #000, 1px 1px 10px 3px #0000009a;
}

html .container main .projects .card:hover img,
body .container main .projects .card:hover img {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 250px;
  height: 250px;
}

html .container main .projects .card:hover .click-me,
body .container main .projects .card:hover .click-me {
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

html .container main .projects .card1,
body .container main .projects .card1 {
  position: absolute;
  top: 50%;
  left: 20%;
}

html .container main .projects .card1 .click-me,
body .container main .projects .card1 .click-me {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 1;
  position: absolute;
  color: #fff;
  font-size: 30px;
  top: 100px;
  left: 70px;
}

html .container main .projects .card1 img,
body .container main .projects .card1 img {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 0px;
  height: 0px;
  border-radius: 50%;
}

html .container main .projects .card2,
body .container main .projects .card2 {
  top: 50%;
  right: 20%;
}

html .container main .projects .card2 .click-me,
body .container main .projects .card2 .click-me {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 1;
  position: absolute;
  color: #fff;
  font-size: 30px;
  top: 100px;
  left: 70px;
}

html .container main .projects .card2 img,
body .container main .projects .card2 img {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 0px;
  height: 0px;
  border-radius: 50%;
}

html .container main .projects .card1Active,
body .container main .projects .card1Active {
  z-index: 25;
  position: absolute;
  top: 295px;
  left: 20%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 #000, 1px 1px 10px 3px #0000009a;
          box-shadow: inset 0 0 0 #000, 1px 1px 10px 3px #0000009a;
  -webkit-animation: moveAnimCard1 .87s linear;
          animation: moveAnimCard1 .87s linear;
  -webkit-animation-delay: .78s;
          animation-delay: .78s;
}

@-webkit-keyframes moveAnimCard1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 20%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    left: 150%;
  }
}

@keyframes moveAnimCard1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 20%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    left: 150%;
  }
}

html .container main .projects .card1Active .click-me,
body .container main .projects .card1Active .click-me {
  opacity: 1;
  position: absolute;
  color: #fff;
  font-size: 30px;
  top: 100px;
  left: 70px;
}

html .container main .projects .card1Active img,
body .container main .projects .card1Active img {
  -webkit-transform: translate(0);
          transform: translate(0);
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

html .container main .projects .card2Active,
body .container main .projects .card2Active {
  z-index: 25;
  position: absolute;
  top: 295px;
  right: 20%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 #000, 1px 1px 10px 3px #0000009a;
          box-shadow: inset 0 0 0 #000, 1px 1px 10px 3px #0000009a;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-animation: moveAnimCard2 .9s linear;
          animation: moveAnimCard2 .9s linear;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

@-webkit-keyframes moveAnimCard2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: 20%;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    right: 150%;
  }
}

@keyframes moveAnimCard2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: 20%;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    right: 150%;
  }
}

html .container main .projects .card2Active .click-me,
body .container main .projects .card2Active .click-me {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 1;
  position: absolute;
  color: #fff;
  font-size: 30px;
  top: 100px;
  left: 70px;
}

html .container main .projects .card2Active img,
body .container main .projects .card2Active img {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translate(0);
          transform: translate(0);
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

html .container footer,
body .container footer {
  margin-top: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  background: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container footer .cat-in-the-wall,
body .container footer .cat-in-the-wall {
  cursor: pointer;
}

html .container footer .cat-in-the-wall img,
body .container footer .cat-in-the-wall img {
  margin-left: 50px;
  width: 200px;
}

html .containerDark,
body .containerDark {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  overflow: hidden;
  background: #111111fd;
  color: #cfcfcf;
  -webkit-transition: 1s;
  transition: 1s;
}

html .containerDark header,
body .containerDark header {
  width: 100%;
  height: 150px;
  background: linear-gradient(20deg, #b4b4b4 25%, #252525);
  -webkit-box-shadow: 0px 0px 30px 0px #cfcfcf;
          box-shadow: 0px 0px 30px 0px #cfcfcf;
}

html .containerDark header #whiteCat,
body .containerDark header #whiteCat {
  width: 150px;
  -webkit-transform: rotate(90deg) translateX(-10px);
          transform: rotate(90deg) translateX(-10px);
  display: block;
  float: left;
}

html .containerDark header .my-cv,
body .containerDark header .my-cv {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  text-align: end;
  width: 150px;
  height: 60px;
  margin: auto 50px auto auto;
}

html .containerDark header .my-cv .cv-link,
body .containerDark header .my-cv .cv-link {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background: #8f8e8e;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  display: inline-block;
  font-family: fantasy;
  font-size: 30px;
  letter-spacing: 5px;
  color: #fff;
  cursor: pointer;
}

html .containerDark header .my-cv .cv-link span,
body .containerDark header .my-cv .cv-link span {
  position: absolute;
  top: 15%;
  left: 20%;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
}

html .containerDark header .my-cv .cv-link-mobile,
body .containerDark header .my-cv .cv-link-mobile {
  display: none;
}

html .containerDark .toggle-button-night-mode,
body .containerDark .toggle-button-night-mode {
  width: 60px;
  height: 30px;
  background: url(img/toggleButtonOff.png) no-repeat 50%;
  background-size: cover;
  position: fixed;
  right: 50px;
  top: 15%;
  cursor: pointer;
}

html .containerDark .modalWindowCV,
body .containerDark .modalWindowCV {
  z-index: 99;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000bb;
  color: #181818;
}

html .containerDark .modalWindowCV .cv-layer,
body .containerDark .modalWindowCV .cv-layer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .7fr 1.3fr;
      grid-template-columns: .7fr 1.3fr;
  width: 80%;
  height: 80%;
  margin: 50px auto;
  background: #e2e2e2;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
}

html .containerDark .modalWindowCV .cv-layer h1,
html .containerDark .modalWindowCV .cv-layer h2,
html .containerDark .modalWindowCV .cv-layer h3,
body .containerDark .modalWindowCV .cv-layer h1,
body .containerDark .modalWindowCV .cv-layer h2,
body .containerDark .modalWindowCV .cv-layer h3 {
  line-height: 50px;
}

html .containerDark .modalWindowCV .cv-layer p,
html .containerDark .modalWindowCV .cv-layer a,
body .containerDark .modalWindowCV .cv-layer p,
body .containerDark .modalWindowCV .cv-layer a {
  line-height: 25px;
}

html .containerDark .modalWindowCV .cv-layer span,
body .containerDark .modalWindowCV .cv-layer span {
  font-weight: bold;
}

html .containerDark .modalWindowCV .cv-layer .first-column,
body .containerDark .modalWindowCV .cv-layer .first-column {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  border-radius: 10px 0 0 10px;
  background: #747474;
}

html .containerDark .modalWindowCV .cv-layer .first-column .text,
body .containerDark .modalWindowCV .cv-layer .first-column .text {
  width: 90%;
  margin: 20px 0 0 30px;
}

html .containerDark .modalWindowCV .cv-layer .first-column .text a,
html .containerDark .modalWindowCV .cv-layer .first-column .text h3,
body .containerDark .modalWindowCV .cv-layer .first-column .text a,
body .containerDark .modalWindowCV .cv-layer .first-column .text h3 {
  color: #e2e2e2;
}

html .containerDark .modalWindowCV .cv-layer .second-column,
body .containerDark .modalWindowCV .cv-layer .second-column {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

html .containerDark .modalWindowCV .cv-layer .second-column .text,
body .containerDark .modalWindowCV .cv-layer .second-column .text {
  width: 90%;
  margin: 20px 0 0 30px;
}

html .containerDark main,
body .containerDark main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0 auto 158px;
  width: 80%;
  height: 600px;
  text-align: center;
  margin-top: 50px;
  font-family: cursive;
}

html .containerDark main .projects,
body .containerDark main .projects {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

html .containerDark main .projects .walkingCat,
body .containerDark main .projects .walkingCat {
  position: absolute;
  height: 500px;
  width: 450px;
  z-index: 20;
  top: 150px;
  left: -120%;
  background: url(img/cat3.png) no-repeat 50%;
  background-size: cover;
}

html .containerDark main .projects .flyingCat,
body .containerDark main .projects .flyingCat {
  position: absolute;
  height: 200px;
  width: 420px;
  z-index: 30;
  top: 170px;
  right: -120%;
  background: url(img/cat4.png) no-repeat;
  background-size: cover;
}

html .containerDark main .projects .morpheus,
body .containerDark main .projects .morpheus {
  -webkit-transform: rotate(0.35deg);
          transform: rotate(0.35deg);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  width: 63%;
}

html .containerDark main .projects .card,
body .containerDark main .projects .card {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  float: right;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 1px 150px #000, 0 0 0 0 #000;
          box-shadow: inset 0px 0px 1px 150px #000, 0 0 0 0 #000;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

html .containerDark main .projects .card:hover,
body .containerDark main .projects .card:hover {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 #000, 1px 1px 10px 3px #0000009a;
          box-shadow: inset 0 0 0 #000, 1px 1px 10px 3px #0000009a;
}

html .containerDark main .projects .card:hover img,
body .containerDark main .projects .card:hover img {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 250px;
  height: 250px;
}

html .containerDark main .projects .card:hover .click-me,
body .containerDark main .projects .card:hover .click-me {
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

html .containerDark main .projects .card1,
body .containerDark main .projects .card1 {
  position: absolute;
  top: 50%;
  left: 20%;
}

html .containerDark main .projects .card1 .click-me,
body .containerDark main .projects .card1 .click-me {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 1;
  position: absolute;
  color: #fff;
  font-size: 30px;
  top: 100px;
  left: 70px;
}

html .containerDark main .projects .card1 img,
body .containerDark main .projects .card1 img {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 0px;
  height: 0px;
  border-radius: 50%;
}

html .containerDark main .projects .card2,
body .containerDark main .projects .card2 {
  top: 50%;
  right: 20%;
}

html .containerDark main .projects .card2 .click-me,
body .containerDark main .projects .card2 .click-me {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 1;
  position: absolute;
  color: #fff;
  font-size: 30px;
  top: 100px;
  left: 70px;
}

html .containerDark main .projects .card2 img,
body .containerDark main .projects .card2 img {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 0px;
  height: 0px;
  border-radius: 50%;
}

html .containerDark main .projects .card1Active,
body .containerDark main .projects .card1Active {
  z-index: 25;
  position: absolute;
  top: 295px;
  left: 20%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 #000, 1px 1px 10px 3px #0000009a;
          box-shadow: inset 0 0 0 #000, 1px 1px 10px 3px #0000009a;
  -webkit-animation: moveAnimCard1 .87s linear;
          animation: moveAnimCard1 .87s linear;
  -webkit-animation-delay: .78s;
          animation-delay: .78s;
}

@keyframes moveAnimCard1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 20%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    left: 150%;
  }
}

html .containerDark main .projects .card1Active .click-me,
body .containerDark main .projects .card1Active .click-me {
  opacity: 1;
  position: absolute;
  color: #fff;
  font-size: 30px;
  top: 100px;
  left: 70px;
}

html .containerDark main .projects .card1Active img,
body .containerDark main .projects .card1Active img {
  -webkit-transform: translate(0);
          transform: translate(0);
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

html .containerDark main .projects .card2Active,
body .containerDark main .projects .card2Active {
  z-index: 25;
  position: absolute;
  top: 295px;
  right: 20%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 #000, 1px 1px 10px 3px #0000009a;
          box-shadow: inset 0 0 0 #000, 1px 1px 10px 3px #0000009a;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-animation: moveAnimCard2 .9s linear;
          animation: moveAnimCard2 .9s linear;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

@keyframes moveAnimCard2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: 20%;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    right: 150%;
  }
}

html .containerDark main .projects .card2Active .click-me,
body .containerDark main .projects .card2Active .click-me {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 1;
  position: absolute;
  color: #fff;
  font-size: 30px;
  top: 100px;
  left: 70px;
}

html .containerDark main .projects .card2Active img,
body .containerDark main .projects .card2Active img {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translate(0);
          transform: translate(0);
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

html .containerDark footer,
body .containerDark footer {
  margin-top: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  background: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .containerDark footer .cat-in-the-wall,
body .containerDark footer .cat-in-the-wall {
  cursor: pointer;
}

html .containerDark footer .cat-in-the-wall img,
body .containerDark footer .cat-in-the-wall img {
  margin-left: 50px;
  width: 200px;
}
/*# sourceMappingURL=desktop_style.css.map */