* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: hidden;
  background: #b8b8b8fd;
  -webkit-transition: 1s;
  transition: 1s;
}

body .container header {
  width: 100%;
  height: 150px;
  background: linear-gradient(20deg, #000 25%, #252525);
  -webkit-box-shadow: 0px 0px 0px 0px #cfcfcf;
          box-shadow: 0px 0px 0px 0px #cfcfcf;
}

body .container header img {
  width: 150px;
  -webkit-transform: rotate(90deg) translateX(-10px);
          transform: rotate(90deg) translateX(-10px);
  display: block;
  float: left;
}

body .container header .my-cv {
  text-align: end;
  width: 100px;
  height: 100%;
  margin: auto 50px auto auto;
}

body .container header .my-cv .cv-link-mobile {
  position: relative;
  width: 300%;
  height: 100%;
  background: #8f8e8e;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  display: inline-block;
  font-family: fantasy;
  font-size: 30px;
  letter-spacing: 5px;
  color: #fff;
  cursor: pointer;
}

body .container header .my-cv .cv-link-mobile span {
  position: absolute;
  top: 35%;
  left: 10%;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
}

body .container header .my-cv .cv-link {
  display: none;
}

body .container .toggle-button-day-mode {
  z-index: 100;
  width: 60px;
  height: 30px;
  background: url(img/toggleButtonOn.png) no-repeat 50%;
  background-size: cover;
  position: absolute;
  right: 20px;
  top: 170px;
  cursor: pointer;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body .container .modalWindowCV {
  display: none;
}

body .container main {
  margin: 0 auto 158px;
  width: 80%;
  height: 600px;
  text-align: center;
  margin-top: 50px;
  font-family: cursive;
}

body .container main .projects {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

body .container main .projects .walkingCat {
  display: none;
}

body .container main .projects .flyingCat {
  display: none;
}

body .container main .projects .morpheus {
  display: none;
}

body .container main .projects .card {
  width: 100%;
  border-radius: 50%;
  margin: 0 auto;
}

body .container main .projects .card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body .container main .projects .card1 {
  margin: 50px auto;
}

body .container main .projects .card1 .click-me {
  display: none;
}

body .container main .projects .card2 {
  margin: 50px auto;
}

body .container main .projects .card2 .click-me {
  display: none;
}

body .container main .projects .card1Active {
  -webkit-animation: zoomOutDown1 1.8s;
          animation: zoomOutDown1 1.8s;
  margin: 50px auto;
}

body .container main .projects .card1Active .click-me {
  display: none;
}

@-webkit-keyframes zoomOutDown1 {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomOutDown1 {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

body .container main .projects .card1Active img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body .container main .projects .card2Active {
  -webkit-animation: zoomOutDown2 1.8s;
          animation: zoomOutDown2 1.8s;
  margin: 50px auto;
}

body .container main .projects .card2Active .click-me {
  display: none;
}

@-webkit-keyframes zoomOutDown2 {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomOutDown2 {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

body .container main .projects .card2Active img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: 150px;
  background: #000;
}

body footer .cat-in-the-wall {
  display: none;
}

body .containerDark {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: hidden;
  background: #111111fd;
  color: #cfcfcf;
  -webkit-transition: 1s;
  transition: 1s;
}

body .containerDark header {
  width: 100%;
  height: 150px;
  background: linear-gradient(20deg, #b4b4b4 25%, #252525);
  -webkit-box-shadow: 0px 0px 30px 0px #cfcfcf;
          box-shadow: 0px 0px 30px 0px #cfcfcf;
}

body .containerDark header img {
  width: 150px;
  -webkit-transform: rotate(90deg) translateX(-10px);
          transform: rotate(90deg) translateX(-10px);
  display: block;
  float: left;
}

body .containerDark header .my-cv {
  text-align: end;
  width: 100px;
  height: 100%;
  margin: auto 50px auto auto;
}

body .containerDark header .my-cv .cv-link-mobile {
  position: relative;
  width: 300%;
  height: 100%;
  background: #3f3f3f;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  display: inline-block;
  font-family: fantasy;
  font-size: 30px;
  letter-spacing: 5px;
  color: #fff;
  cursor: pointer;
}

body .containerDark header .my-cv .cv-link-mobile span {
  position: absolute;
  top: 35%;
  left: 10%;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
}

body .containerDark header .my-cv .cv-link {
  display: none;
}

body .containerDark .toggle-button-night-mode {
  z-index: 100;
  width: 60px;
  height: 30px;
  background: url(img/toggleButtonOff.png) no-repeat 50%;
  background-size: cover;
  position: absolute;
  right: 20px;
  top: 170px;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body .containerDark .modalWindowCV {
  display: none;
}

body .containerDark main {
  margin: 0 auto 158px;
  width: 80%;
  height: 600px;
  text-align: center;
  margin-top: 50px;
  font-family: cursive;
}

body .containerDark main .projects {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

body .containerDark main .projects .walkingCat {
  display: none;
}

body .containerDark main .projects .flyingCat {
  display: none;
}

body .containerDark main .projects .morpheus {
  display: none;
}

body .containerDark main .projects .card {
  width: 100%;
  border-radius: 50%;
  margin: 0 auto;
}

body .containerDark main .projects .card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body .containerDark main .projects .card1 {
  margin: 50px auto;
}

body .containerDark main .projects .card1 .click-me {
  display: none;
}

body .containerDark main .projects .card2 {
  margin: 50px auto;
}

body .containerDark main .projects .card2 .click-me {
  display: none;
}

body .containerDark main .projects .card1Active {
  -webkit-animation: zoomOutDown1 1.8s;
          animation: zoomOutDown1 1.8s;
  margin: 50px auto;
}

body .containerDark main .projects .card1Active .click-me {
  display: none;
}

@keyframes zoomOutDown1 {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

body .containerDark main .projects .card1Active img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body .containerDark main .projects .card2Active {
  -webkit-animation: zoomOutDown2 1.8s;
          animation: zoomOutDown2 1.8s;
  margin: 50px auto;
}

body .containerDark main .projects .card2Active .click-me {
  display: none;
}

@keyframes zoomOutDown2 {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

body .containerDark main .projects .card2Active img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: 150px;
  background: #000;
}

body footer .cat-in-the-wall {
  display: none;
}
/*# sourceMappingURL=mobile_style.css.map */