* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-left: 5%;
}

hr {
    text-align: center;
    margin:10px 12% 10px 12%;

    &:first-of-type{
        margin:10px 5.5% 10px 5.5%;
    }
}

.filter {
    display: flex;
    justify-content: space-around;
    margin: 0 10% 0 10%;


    #search {
        width: 45%;
        height:30px;
        border-radius: 5px;
        border: 1px solid #9b9999;
    }

    #status {
        width: 20%;
    }

    #priority {
        width: 25%;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10% 0 10%;

    .template {
        position: relative;
        width: 150px;
        height: 100px;
        display: inline-block;
        margin: 0 2.5% 100px 2.5%;

        .template-title {
            font-weight: bold;
            width: 100%;
            border: none;
            border-bottom: solid 1px #dad4d4;
        }
        .template-title-err{
            font-weight: bold;
            width: 100%;
            border: none;
            border: solid 2px red;
            color:red;
        }

        .popUp-err {
            display: block;
            position: absolute;
            top: 0;
            left: -160px;
            padding: 5px;
            background: red;
            color: white;
            border-radius: 5px;
            text-align: center;
            opacity: 0;
            transition: 1s;
        }

        textarea {
            width: 100%;
            height: 100px;
            border: none;
            z-index: 100;
            resize: none;
        }

        select {
            width: 100%;
            border: none;
        }
    }

    .card {
        display: inline-block;
        margin: 0 2.5% 50px 2.5%;
        text-align: center;
        position: relative;
        border-radius: 5px;
        transition: 1s;
        height: 100px;
        min-width: 150px;
        max-width: 500px;

        .delete {
            width: 20px;
            top: 0;
            opacity: 0;
            transition: .5s;

        }

        &:hover .delete {
            visibility: visible;
            opacity: 1;
        }

        .statusDone {
            border: 0;
            border-top: 1px solid #666;
            border-bottom: 1px solid #666;
            border-left: 1px solid #666;
            border-right: 1px solid #666;
            background: linear-gradient(90deg, #fff 10%, #666 10% 90%, #fff 10%);
            color: #fff;
            border-radius: 10px;
            width: 100%;
            cursor: pointer;


            &:focus {
                outline: 0 !important;
            }
        }

        .statusOpen {
            border: 0;
            border-top: 1px solid #666;
            border-bottom: 1px solid #666;
            background: linear-gradient(90deg, #666 10%, #fff 10% 90%, #666 10%);
            color: #000;
            ;
            border-radius: 10px;
            width: 100%;
            cursor: pointer;


            &:focus {
                outline: 0 !important;
            }
        }

        input {
            font-weight: bold;
            width: 95%;
            border: none;
            border-bottom: solid 1px rgb(218, 212, 212);

            &:focus {
                outline: 0 !important;
            }
        }

        img {
            vertical-align: middle;
            cursor: pointer;
        }

        .del-Parent-Div {
            position: absolute;
            top: 0;
            right: -20px;
            width: 20px;
            height: 65%;
        }

        .text-fields-parent-div {
            width: 150px;
            transition: 1s;

            &:focus {
                outline: 0 !important;
            }

            .priority-list {
                position: absolute;
                text-align: left;
                left: -1.2em;
                top: 0px;
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;


                .priority {
                    opacity: 0;
                    transform: translateY(0);
                    width: 20px;
                    transition: 1s;
                }

                .priority:last-of-type {
                    transform: translateY(0);
                }

                .priority-active {
                    top: 0;
                    width: 20px;
                    z-index: 100;
                    opacity: 1;
                    transition: 1s;
                }

                &:hover .priority {
                    animation: priorityIcons 1s;
                    transform: translateY(0);
                    opacity: 1;
                }

                @keyframes priorityIcons {
                    0% {
                        opacity: 0;
                        transform: translateY(-5px);
                    }

                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }

        }

        .oldSize {
            border: none;
            width: 150px;
            height: 50px;
            transition: 1s;
            resize: none;
            overflow: hidden;
        }

        .newSize {
            border: none;
            width: 100%;
            height: 100px;
            transition: 1s;
            resize: none;

            &::-webkit-scrollbar {
                width: 0;
            }


            &:focus {
                outline: 0 !important;
            }
        }
    }
}

.deleteAnimation {
    width: 150px;
    height: 100px;
    display: inline-block;
    margin: 0 2.5% 50px 2.5%;
    text-align: center;
    position: relative;
    opacity: 1;
    animation: delAnim 2s;
}

@keyframes delAnim {
    0% {
        opacity: 1;
        left: 0;
    }

    30% {
        opacity: 0;
        left: -10px;
    }

    100% {
        opacity: 0;
        left: -150px;
    }
}

#create-new-card {
    border-radius: 5px;
    position: relative;
    border: none;
    height: 125px;
    background: #fff;
    position: relative;


    &:focus {
        outline: 0 !important;
    }

    img {
        width: 80px;
        transition: 2s;
        z-index: 1;
    }

    .span1 {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 5;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    .span2 {
        position: absolute;
        top: 25px;
        left: 15px;
        z-index: 5;
        transform: rotate(-15deg);
        font-family: sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
    }
}